{% extends "base.html" %}

{% block title %}Invitations{% endblock %}
{% block navurl %}{% url 'wedding.views.index' %}{% endblock %}

{% block content %}
    <div class="container">
    <div class="row">
    <div class="col-lg-12 table-view">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Address 1</th>
            <th>Address 2</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>Email</th>
            <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        {% for person in people_invited %}
        <tr>
            <th>{{ person.name }}</th>
            <th>{{ person.address1 }}</th>
            <th>{{ person.address2 }}</th>
            <th>{{ person.city }}</th>
            <th>{{ person.state }}</th>
            <th>{{ person.zip_code }}</th>
            <th>{{ person.email }}</th>
            <th>{{ person.comment }}</th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    </div>
{% endblock %}